<h1>Hello</h1>

<ul>
    <% @tasks.each do |task| %>
        <li>
            <%= link_to task.title, task %>
        </li>
    <% end %>
</ul>

<%# display user id %>
<%= @user.name %>

<%= link_to 'New Task', new_task_path %>
<%= link_to 'Logout', logout_path %>
